@charset "utf-8";

#side-box {
    display: none;
}

#toc {
    display: none;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 640px) {
}

@media screen and (min-width: 960px) {
    /* flex親 */
    #entry-article {
        display: flex;
        align-items: flex-start;
    }

    /* flex子 */
    #entry-article-inner {
        flex: 1;
        min-width: 0; /* FlexBoxの横幅ストレッチ領域内にpreがある場合のレイアウト崩れ対策 */
        padding-right: 20px;
        /*border-right: 1px solid #e4e4e4;*/ /* 縦線デザイン */
    }

    /* flex子 */
    #toc {
        flex: none;
        display: block;
    }
}
